/* TODO-FORM */

.todo-form {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}

.todo-form__controls {
    display: flex;
    justify-content: space-between;
}

.todo-form__inputs {
    width: 70%;
    display: flex;
}

.todo-form__input-text {
    width: 70%;
    margin-right: 10px;
}

.todo-form__input-category {
    width: 30%;
}

.todo-form__input-text input,
.todo-form__input-category select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo-form__input-category select {
    appearance: none;
}

.todo-form__button {
    width: 20%;
}

.todo-form__button-submit {
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* TODO-TABLE */

.todo-table {
    width: 60%;
    margin: 0 auto;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header,
.todo-table__content,
.todo-table__category {
    width: 40%;
    padding: 15px;
    text-align: left;
}

.todo-table__content input,
.todo-table__category select {
    width: 100%;
    outline: none;
    border: none;
    appearance: none;
}

.todo-table__buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.todo-table__update-button,
.todo-table__delete-button {
    width: 50px;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.todo-table__update-button {
    background-color: #00f;
}

.todo-table__delete-button {
    background-color: #f00;
}
